// intro__wrap
#introSection {
    margin: 50px 0 50px 0;
}
.intro__wrap {}
.intro__inner {
   display: flex;
   justify-content: space-between;
}
.intro__title {
    width: 33%;

    span {
        background-color: #FF3344;
        font-size: 14px;
        padding: 4px 30px 2px;
        color: #fff;
        border-radius: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }
    h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 48%;
        margin-bottom: 40px;

        h4 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        &:nth-child(3){
            margin-bottom: 0;
        }
        &:nth-child(4){
            margin-bottom: 0;
        }
    }
}


// Intro__wrap
.Intro__wrap h3 {
    font-size: 50px;
    text-align: center;
}
.Intro__inner {
    font-family: "SCoreDream";
    .Intro__btn {
        text-align: center;
        margin: 50px 0 80px;
        button {
            width: 10%;
            background-color: #ffffff;
            border: 1px solid #7a33ff;
            border-radius: 50px;
            margin: 10px;
            padding: 10px 5px;
            color: #7a33ff;
            transition: all 0.3s;
            &:hover {
                background-color: #7a33ff;
                border: 1px solid #ffffff;
                color: #fff;
                cursor: pointer;
            }
        }
        button.active {
            background-color: #7a33ff;
            border: 1px solid #fff;
            color: #fff;
        }
    }
    .Intro__cont {
        @include flex-between;
        flex-wrap: wrap;
        .Intro {
            width: 32%;
            .Intro__header {
                margin-bottom: 10px;
                img {
                    width: 100%;
                }
            }
            .Intro__body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: "SCoreDream";
                span {
                    border-radius: 50px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                > div {
                    margin-top: 10px;
                    width: 80%;
                    text-align: left;
                    font-family: "SCoreDream";
                    h4 {
                        margin-bottom: 5px;
                        font-size: 24px;
                        font-family: "SCoreDream";
                    }
                    p {
                        color: #a0a0a0;
                        font-family: "SCoreDream";
                    }
                }
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                margin-bottom: 50px;
            }
            &:hover > a > .Intro__body > div > p {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
    .Intro__cont2 {
        @include flex-between;
        font-family: "SCoreDream";
        flex-wrap: wrap;
        .Intro {
            width: 23%;
            .Intro__header {
                margin-bottom: 10px;
                img {
                    width: 300px;
                    height: 210px;
                }
            }
            .Intro__body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    border-radius: 50px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                > div {
                    margin-top: 10px;
                    width: 80%;
                    text-align: left;
                    h4 {
                        margin-bottom: 5px;
                        font-size: 24px;
                    }
                    p {
                        color: #a0a0a0;
                    }
                }
                
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-bottom: 50px;
            }
            &:hover > a > .Intro__body > div > p {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}